h1, h2, h3, h4
{
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.content h1, .content h2
{
	border-bottom: 2px solid #ffffff41;

	margin-bottom: 1.7em;
	padding-bottom: 0.3em;

	font-weight: 500;
}

body
{
	font-family: "Open Sans", sans-serif;
	background-color:#2e3141;
	background-image: url(../../graphics/1570142811614.png);
	background-image: url(../../graphics/1589914351089.jpg);
	/* background-image: url(../../graphics/1571909168702.jpg); */
	color: white;

	background-attachment: fixed;
	background-position-x: center;
	/* background-size: cover; */
}

.colour-a
{
	background-color:#2e3141;
}

.colour-b
{
	background-color:#1d2031;
}

.colour-c
{
	background-color:#3f4252;
}

.highlight
{
	color: #ff8022;
}

.hero .highlight
{
	display: inline-block;
	background-color: black;
	padding: 5px 40px;
}